body {
  padding-top: 70px;
}

/*Encabezado - Nav*/

.marcaimagen {
  width: 10%;
  height: auto;
  display: inline !important; /*al sacar important titulo e imagen no quedan alineados*/
}

/* Comentarios - puntuacion */
#form {
width: 250px;
margin: 0 auto;
height: 50px;
}
#form p {
text-align: center;
}
#form label {
font-size: 20px;
}
input[type="radio"] {
display: none;
}
label {
color: grey;
}
.clasificacion {
direction: rtl;
unicode-bidi: bidi-override;
}
label:hover,
label:hover ~ label {
color: orange;
}
input[type="radio"]:checked ~ label {
color: orange;
}
.media{
    list-style: none;
}
.width-100{
    width: 100% !important;
    display: flex !important;
    justify-content: center;
    justify-content: space-evenly;
}

/* Footer */
.iconos,
.fb-ic,
.tw-ic,
.ins-ic {
  padding: 1%;
}
footer {
  margin-top: 10%;
  margin-bottom: 5%;
}


.alignVertical tbody tr td,
.alignVertical tbody tr th {
  vertical-align: middle !important;
}

.alignVertical tbody tr td img {
  width: 180px;
}

.center-button {
  text-align: center;
  margin-top: 1rem;
}

.container-fluid .card #myCarousel #carousel-container {
  background-image: unset !important;
}

#vehiculo-container .align-center {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}
